<%= link_to "Create a new boat", new_boat_path %>
<br>

<div>
<% @boats.reverse.each do |u|%>
 <div> Boat Name: <%= u.boat_name%></div>
  <div>Container capacity: <%= u.container_capacity %></div>
  <div>Port of origin: <%= u.port_of_origin %></div>
  <div>Employee: <%= u.user.email %></div><br>
<%end%>
</div>

