<!DOCTYPE html>
<html>
  <head>
    <title>Shipping</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <nav>
    <%if user_signed_in?%>
    <ul>

      <li><%= link_to "Ships", boats_path %></li>
      <li><%= link_to "Jobs", jobs_path %></li>
      <li>Destinations</li>
      <li><%=link_to "Sign Out", destroy_user_session_path, method: :delete%></li>
    <%else%>
      <li><%=link_to "Sign in", new_user_session_path%></li>
  </ul>
  <%end%>
  </nav>


  <body>
    <%if user_signed_in?%>
    logged in as:  <%=current_user.email%>
    <br>
    Your id number is:<%=current_user.id%>
    <%end%>
    <div class='header-container'>
    <h1>Welcome to our Shipping Company!</h1>
    <h3>If you are an employee, please sign in to access your account</h3>
    <div class='homepage-image'></div>
    </div>

    <%= yield %>
  </body>
</html>
